{% extends 'base.html' %}

{% block title %}
Create Project
{% endblock title %}

{% block nav %}
<a href="{% url 'list_projects' %}">Main page</a>
{% endblock nav %}
{% block content %}
<main>
    <div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
    </div>
    </form>
</main>
{% endblock content %}
